#title-fetch-error {
    display: none;
    text-align: center;
}


#title-fetch-error > h2 {
    visibility: inherit;
    color: red;
    font-size: 4rem;
    margin-bottom: 0;
}

#title-fetch-error > h3, #title-fetch-error > div, #title-fetch-error > p {
    visibility: inherit;
    color: #ff7575;
    margin-top: 0;
}

#article-index > button {
    position: absolute;
    bottom: 1vh;
    font-size: 2rem;
    font-weight: bold;
}

#index-prev {
    left: 2vw;
}
#index-next {
    right: 6vw;
}

#article-grid {
    display: grid;
    gap: 1.5vh;
    
    flex-grow: 1;
}
@media (orientation: landscape)
{
    #article-grid {
        grid-template-columns: auto auto auto;
    }
    

    #article-details-snippet-container {
        text-align: center;
        margin-left: 10rem;
        margin-right: 10rem;
        padding-left: 1rem;
    }
    
    #article-details-snippet-container img
    {
        max-width: 20rem;
    }
}
@media (orientation: portrait) {
    #article-grid {
        grid-template-columns: auto;
    }
    
    #article-details-snippet-container {
        text-align: center;
        padding-left: 1rem;
    }
    #article-details-snippet-container img {
        width: 100%;
    }
}
#article-grid > button:hover, #index-prev:hover, #index-next:hover {
    color:#0026FF;
    border-left: 2px solid #0026FF;
    border-bottom: 2px solid #0026FF;
}

#article-grid > button {
    text-align: left;
    height: fit-content;
    padding: 1rem;
}
#article-grid > button > h2 {
    font-size: 2rem;
    padding-left: 1vw;
    padding-top: 1vw;
    margin: 0;
}
#article-grid > button > p {
    padding-left: 1vw;
    margin: 0;
}

#index-prev, #index-next {
    width: 10vw;
    height: 10vh;
}

#no-articles {    
    color: #b4afcf;
    font-size: 8rem;
}

#button-article-details-back {
    text-align: center;
    height: 3rem;
    width: 10rem;
}
#button-article-details-back:hover {
    color:#0026FF;
    border-left: 2px solid #0026FF;
    border-bottom: 2px solid #0026FF;
}
.article-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1rem;
}
.article-header > p, .article-header > h2{
    text-align: left;
}

#article-details-snippet-container figure {
    max-width: 50%;
    padding-bottom: 2rem;
}

#article-details-snippet-container p {
    text-align: justify;
    padding-bottom: .3rem;
}

.article-positioned-left {
    padding-right: 1rem;
    float: left;
}

.article-positioned-right {
    float: right;
    padding-left: 1rem;
}
.article-horizontal-block {
    display: flex;
} 
.article-horizontal-block > p, .article-horizontal-block > div {
    flex: 1;
}

#article-details-snippet-container figure,
#article-details-snippet-container figcaption {
    position: relative;
    top: 0;
    display: block;
    margin: 0;
}