#pale-sheet > div {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
#pale-sheet > div > div {
    height: 100%;
    flex: 1;
}

#featured {
    position: relative;
    width: 100%;
    
    margin-bottom: 1rem;
}
#featured > p {
    font-size: 5vw;
    height: 20vw;
        
    text-align: center;
    align-content: center;

    transform: rotate(-35deg);
}

#background-info {
    position: relative;
    width: 100%;
    
    padding-bottom: 1rem;

    text-align: center;
}
#background-info > p {
    text-align: justify;
}
#button-kill-background {
    background-color: #F5F7F7;
    
    width: 15rem;
    height: 3rem;

    border-radius: 0;
    
    color: #0E0067;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}
#button-kill-background:hover {
    color:#0026FF
}

#main-content {
    /*
    position: relative;
    top: 15vh;
    left: 0;

    width: 90%;
    height: fit-content;
    
    font-size: 0;
    */
    display: flex;
}



#about-me {
    text-align: justify;

    padding-left: calc(1% - 3px);
    border-left: solid 3px #0E0067;

    display: flex;
    gap: 1rem;
}
#about-me > div {
    flex: 1;
}
#headshot {
    width: 100%;
    padding-bottom: 1rem;
}

#site-technical > h2 {
    text-align: center;
}

#site-technical > p {
    text-align: justify;
}